#root {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.test-form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  
}

.test-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.test-form input[type="email"] {
  width:100%;
  padding: 10px;
  margin: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

input [type="checkbox"] {
  align-self: flex-start;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.favourite-employer {
  width: 200px;
  margin: 10px 0;
  padding: 10px;
  font-weight: bold;
}

button {
  padding: 10px;
  border: none;
  color: whitesmoke;
  background-color: rgb(103, 97, 97);
  font-size: 20px;
  font-weight: bold;
}